---
- name: Init submodel_element_collection and value fact
  ansible.builtin.set_fact:
    submodel_element_collection: {}
    value: []

- name: Fill "value" property of Submodel Element Collection
  ansible.builtin.set_fact:
    value: "{{ value + [ {'idShort': entry.key, 'valueType': 'string', 'value': entry.value} ] }}"
  loop: "{{ item.value | dict2items }}"
  loop_control:
    loop_var: entry

- name: Set Submodel Element Collection
  ansible.builtin.set_fact:
    submodel_element_collection:
      idShort: "{{ item.key }}"
      modelType:
        name: SubmodelElementCollection
      value: "{{ value }}"

- name: Create Ansible Facts Submodel Element - Dicts
  ansible.builtin.uri:
    url: "{{ aas_server_base_url }}/shells/{{ aas_id }}/aas/submodels/{{aas_submodel.idShort}}/submodel/submodelElements/{{ item.key }}"
    method: PUT
    headers:
      Content-Type: application/json
    body_format: json
    body: "{{ submodel_element_collection }}"